*
    margin 0
    padding 0
    list-style none
    box-sizing border-box
    -webkit-user-select none
    font-family 'Josefin Sans', sans-serif,'Noto Sans SC'
// -----------------------------------xs-----------------------------------------
// ------------------navbar--------------------
.navbar 
    background #D0D0D0
.logo img 
    width 70px

.logo h2
    color white !important
    font-size 20px !important
    line-height 40px
.menu-box
    display none !important
#Home,#Story,#news,#Contact,#where,.new,#back,#member,#dm
    background: url(https://wallpaperaccess.com/full/36285.jpg)
// ------------------slider--------------------
.slider-item
    transform scale(0.8)
    transition-timing-function ease
    transition-duration 300ms
    width 75% !important
    height 200px !important

.slider-item.slider-active 
    transform scale(1.0)
    z-index  999

.slider-item.slider-active-copy 
    transform scale(1.0)
    z-index  999

.swiper-container-horizontal>.slider-pagination-bullets
    bottom 60px !important

.swiper-container-horizontal>*>.slider-pagination-bullet
    background white !important

.slider-container
    height 380px !important

.scroll
    display none
// ------------------new--------------------
.new
    flex-direction column
    position relative
    top -30px
.new h1
    font-size 30px !important
.ad .view
    position relative
    overflow hidden
    width 330px
    margin 20px auto 20px auto
    border-radius 20px
    // box-shadow 2px 2px 5px #000000

.ad .view .text
    color white
    padding 0
    /* 文字決對定位 */
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    display flex
    justify-content center
    flex-direction column
    width 330px

.ad .view .text h4
        background linear-gradient(270deg,transparent,rgba(0,0,0,0.5),transparent)!important
        height 40px
        line-height 40px
        font-size 20px

.ad .view img
    width 330px
    height 330px

// ------------------story--------------------
#Story 
    width 100vw !important

.logo_img
    position absolute
    top 50px
    left 400px
.bg
    background white
    width 300px
    height 350px
    clip-path polygon(0 0,100% 0,100% 90%,90% 100%,0 100%)
    margin-bottom 20px

.bg h1
	font-family: 'Marck Script', cursive;
	font-size 17px
	margin-left 40px
	margin-right 40px
	margin-top 10px

.abc
    display none

#Story iframe
    margin-top 15px
    margin-left 15px

.stamp
    width 160px
    height 80px
    display inline-block
    padding 10px
    background white
    margin-top 80px
    margin-left auto
    margin-right auto
    // position relative
    // top 150px
    // left 100px
    filter drop-shadow(0 0 10px rgba(0,0,0,0.5))
    background radial-gradient( transparent, transparent 6px, #fff 6px, #fff )-10px -10px;
    background-size 20px 20px 
    background-position -10px -10px 
    font-size 1rem
    font-weight bolder

.stamp::after
    content ''
    position absolute
    left 5px
    top 5px
    right 5px
    bottom 5px
    z-index -3

.stamp::before
    content ''
    position absolute
    left 6px
    top 6px
    right 5px
    bottom 5px
    background white
    width 145px
    height 60px
    z-index -2

.text
    color white
    width 100%
    padding 20px
    // position absolute
    // top 430px
    // left 450px
    font-size 12px
    letter-spacing: 3px

// ------------------where--------------------
#where .row p
    font-size 14px

#where .row p:last-child
    padding-left 107px

.banner
    margin-top 80px
    width 95%

.banner img
    width 100%
    height 180px

.banner::after
    content ''
    background rgba(0,0,0,0.6)
    width 95% 
    height 180px
    position absolute

.banner h3,
.banner h6
    color white
    z-index 200

.banner h3
    position absolute
    top 26%
    left 30%

.banner h6
    position absolute
    top 15%
    left 55%
    font-size 6px

.location
        position absolute
        top 8%
        left -4%
        z-index 200
.box1-1
    width 300px
    height 180px
    background white
    border-radius 20px

.box1-2
    width 300px
    height auto
    background white
    border-radius 20px

.map
    width 350px
    height auto
    margin-bottom 30px

// ------------------contact-------------------
.msg
    margin-top 30px
    width 300px
    height 530px
    background #ffffff
    border-radius 20px
    padding-top 20px
    padding-left 10px
    padding-right 10px

.msg h1
    width 223px

.form-control
    margin auto
    width 280px

.custom-select
    width 280px

#flipbook
    width 300px
    height 300px
    margin-bottom 30px

.flipbook
    margin-top 30px
    height 300px
    margin-left -25px
    position relative

.flipbook::after
        content 'Flip ME !'
        width 230px
        color red
        position absolute
        top -20px
        left 115px
        font-size 30px
        transform rotate(45deg)
        animation shake 1s infinite

@keyframes shake 
    0%
        transform:translateY(10px) rotate(3deg)
    
    50%
        transform:translateY(-10px) rotate(-3deg)
    
    
    100%
        transform:translateY(10px) rotate(3deg)

// --------------------menu----------------------
    .img img
        width 100%
        height 300px

    .img::after
        content ''
        width 100%!important
        height 300px !important
        background rgba(0,0,0,0.3)
        position absolute
        top 0
        left 0

    .slogan
        position absolute
        top 200px
        left 30px
        color white

    .slogan h1
        font-size 30px

    .slogan h2
        font-size 1rem

    .title
        width 100%
        color white
        text-align center

    .title h4
        height 50px
        margin-bottom 0
        line-height 50px
        background url(https://wallpaperaccess.com/full/36285.jpg)
    #message .table
        color white !important  
// ----------------------signature--------------
    #signature
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 700px !important
        width 100%

    #signature .pic
        position absolute
        top 630px
        z-index 500

    #signature .food1 .text1
        width 350px
        height 500px
        position absolute
        top 350px

    // --------------------appeziter------------------
    #appeziter
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 700px !important
        width 100%

    #appeziter .pic
        position absolute
        top 1330px
        z-index 500
    
    #appeziter .food1 .text1
        width 350px
        height 500px
        position absolute
        top 1050px


// --------------------salad------------------
    #salad
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 700px !important
        width 100%

    #salad .pic
        position absolute
        top 2030px
        z-index 500
    
    #salad .food1 .text1
        width 350px
        height 500px
        position absolute
        top 1750px

// --------------------pasta------------------
    #pasta
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 700px !important
        width 100%

    #pasta .pic
        position absolute
        top 2730px
        z-index 500
    
    #pasta .food1 .text1
        width 350px
        height 500px
        position absolute
        top 2450px

// --------------------handcrafted-burgers------------------
    #handcrafted-burgers
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 700px !important
        width 100%

    #handcrafted-burgers .pic
        position absolute
        top 3430px
        z-index 500
    
    #handcrafted-burgers .food1 .text1
        width 350px
        height 500px
        position absolute
        top 3150px

// --------------------grill------------------
    #grill
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 700px !important
        width 100%

    #grill .pic
        position absolute
        top 4130px
        z-index 500
    
    #grill .food1 .text1
        width 350px
        height 500px
        position absolute
        top 3850px

// --------------------desserts------------------
    #desserts
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 700px !important
        width 100%

    #desserts .pic
        position absolute
        top 4830px
        z-index 500
    
    #desserts .food1 .text1
        width 350px
        height 500px
        position absolute
        top 4550px

// --------------------drink------------------
    #drink
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 700px !important
        width 100%

    #drink .pic
        position absolute
        top 5530px
        z-index 500
    
    #drink .food1 .text1
        // width 350px
        // height 500px
        position absolute
        top 5250px

    .pic img
        border-radius 60% 40% 45% 55% / 50% 45% 55% 50%
        width 200px
        height 200px
        overflow hidden
        transition .5s
        position relative
        box-shadow rgba(255, 255, 255, 1) 5px 5px 0px

    .pic img:hover
        border-radius 40% 60% 60% 40% / 45% 45% 55% 55%
        transform scale(.95)
        transition .5s

    .food1
        background rgba(255,255,255,0.6)
        height 350px

    .food1 .text1 span 
        font-size 6px
        color red

    .hooper
        position absolute
        top 140px
        height 170px !important
        display flex
        align-items center


    .hooper-img
        display flex
        align-items center
        justify-content center

    .hooper-img img:hover
        border-radius 40% 60% 60% 40% / 45% 45% 55% 55%
        transform scale(.95)
        transition .5s

    .hooper-img img
        border-radius 60% 40% 45% 55% / 50% 45% 55% 50%
        box-shadow 2px 5px 10px #000000
        overflow hidden
        transition .5s
        position relative
        width 130px
        height 130px

    .hooper:focus
        outline none

    .hooper-prev
        position absolute
        left -30px !important

    .hooper-next
        position absolute
        right -30px !important

    .hooper-next:focus,
    .hooper-prev:focus
        outline none

    .hooper-list
        height 170px !important
        padding-top 20px
        padding-bottom 20px

    .food2 
        height 350px
        width 100%
        background #dec99e
        position relative

    // ------------------footer--------------------
    #Contact footer, #Home footer, #menu footer, #news footer, #Story footer, #where footer
        background black
        height 50px
        color white
        width 100%
        line-height 50px
        font-size 0.5rem

    #dm .image1
        width 100%
    .content img
        width 340px
        

    .dm .container
        background #D1E9E9
        margin-top 60px
        padding 0px 120px 20px 120px

    .dm footer 
        position relative

    .modal-Sign .col
        padding-left 0

// -----------------------------------sm-----------------------------------------
@media (min-width: 414px)
    
    .banner h3
        position absolute
        top 24%
        left 32%

    .banner h6
        position absolute
        top 15%
        left 55%
        font-size 6px

    .location
        position absolute
        top 8%
        left 0%
        z-index 200
        
    .vs-table-text
        color blue
        font-size 20px
// -----------------------------------md-----------------------------------------
@media (min-width: 768px) 
    .ad .view
        width 350px

    .ad .view .text
        width 350px

    .ad .view img
        width 350px

    .slider-item
        width 75% !important
        height 350px !important

    .swiper-container-horizontal>.slider-pagination-bullets
        bottom 60px !important

    .swiper-container-horizontal>*>.slider-pagination-bullet
        background white !important

    .slider-container
        height 550px !important

    .menu-box
        display none !important

    .new
        margin-bottom 20px

    #Story 
        height 100vh !important

    #Story footer
        position fixed
        bottom 0
        z-index 2000

    .stamp
        width 300px
        height 100px
        padding 10px
        margin-top 90px
        margin-left auto
        margin-right auto
        font-size 2.5rem

    .stamp::before
        content ''
        position absolute
        left 6px
        top 6px
        right 5px
        bottom 5px
        background white
        width 280px
        height 81px
        z-index -2

    .bg
        clip-path none
        width 400px
        height 380px
        margin-bottom 70px

    .bg h1
        font-size 24px
    
    iframe 
        width 370px
        height 260px

    .text
        width 100%
        padding 20px 50px 20px 50px
        font-size 1rem
        letter-spacing: 3px

    .information:nth-child(even) .carditem1
        order 2

    #where .row p
        font-size 16px

    #where h5
        font-size 26px

    #where .row p:last-child
        padding-left 122px

    #where footer 
        position relative
    .banner
        margin-top 80px
        width 95%

    .banner img
        width 100%
        height 300px

    .banner::after
        content ''
        background rgba(0,0,0,0.6)
        width 95% 
        height 300px
        position absolute

    .banner h3
        position absolute
        top 23%
        left 25%
        font-size 50px

    .banner h6
        position absolute
        top 23%
        left 38%
        font-size 20px

    .location
        position absolute
        top 8%
        left 35%
        z-index 200

    .box1-1
        width 600px
        height 200px
        background white
        border-radius 20px
        padding-left 130px

    .box1-2
        width 600px
        height auto
        background white
        border-radius 20px

    .traffic
        margin-bottom 20px

    .aaa
        display flex !important 

    .map
        width 600px
        height auto
        margin-bottom 20px

    // ------------------contact-------------------
    
    .contact
        height 100vh
    
    .msg
        margin-top 160px
        margin-left -50px
        margin-bottom 20px
        width 500px
        height 580px
        background #ffffff
        border-radius 20px
        padding-top 60px
        padding-left 25px
        padding-right 10px

    .msg h1
        width 223px

    .form-control
        margin 0
        width 450px

    .custom-select
        width 450px

    #flipbook
        width 300px
        height 300px
        margin-bottom 90px
        position absolute
        top 200px
        left 380px

    .flipbook
        margin-top 20px
        height 300px
        margin-left -25px

    #Contact footer, #Home footer, #menu footer
        position fixed
        bottom 0

    #news footer 
        position relative

    .content img
        width 700px

    .dm .container
        margin-top 100px
        padding-top 20px  

    .dm footer 
        position relative
        margin-top 20px
    // -------------------menu----------------------
    .img img
        height 400px

    .img::after
        content ''
        height 400px !important

    .slogan
        position absolute
        top 250px
        left 80px

    .slogan h1
        font-size 40px

    .slogan h2
        font-size 25px
    
    // ----------------------signature--------------
    #signature
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 750px !important
        width 100%

    #signature .pic
        position absolute
        top 630px
        z-index 500

    #signature .food1 .text1
        width 600px
        height 500px
        position absolute
        top 420px

    // --------------------appeziter------------------
    #appeziter
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 750px !important
        width 100%

    #appeziter .pic
        position absolute
        top 1390px
        z-index 500
    
    #appeziter .food1 .text1
        width 600px
        height 500px
        position absolute
        top 1180px

    // --------------------salad------------------
    #salad
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 750px !important
        width 100%

    #salad .pic
        position absolute
        top 2140px
        z-index 500
    
    #salad .food1 .text1
        width 600px
        height 500px
        position absolute
        top 1930px

    // --------------------pasta------------------
    #pasta
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 750px !important
        width 100%

    #pasta .pic
        position absolute
        top 2890px
        z-index 500
    
    #pasta .food1 .text1
        width 600px
        height 500px
        position absolute
        top 2680px

    // --------------------handcrafted-burgers------------------
    #handcrafted-burgers
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 750px !important
        width 100%

    #handcrafted-burgers .pic
        position absolute
        top 3640px
        z-index 500
    
    #handcrafted-burgers .food1 .text1
        width 600px
        height 500px
        position absolute
        top 3430px

    // --------------------grill------------------
    #grill
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 750px !important
        width 100%

    #grill .pic
        position absolute
        top 4390px
        z-index 500
    
    #grill .food1 .text1
        width 600px
        height 500px
        position absolute
        top 4180px

    // --------------------desserts------------------
    #desserts
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 750px !important
        width 100%

    #desserts .pic
        position absolute
        top 5140px
        z-index 500
    
    #desserts .food1 .text1
        width 600px
        height 500px
        position absolute
        top 4930px

    // --------------------drink------------------
    #drink
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 750px !important
        width 100%

    #drink .pic
        position absolute
        top 5890px
        z-index 500
    
    #drink .food1 .text1
        width 600px
        height 500px
        position absolute
        top 5680px

    .pic img
        border-radius 60% 40% 45% 55% / 50% 45% 55% 50%
        width 250px
        height 250px
        overflow hidden
        transition .5s
        position relative
        box-shadow rgba(255, 255, 255, 1) 5px 5px 0px

    .pic img:hover
        border-radius 40% 60% 60% 40% / 45% 45% 55% 55%
        transform scale(.95)
        transition .5s

    .food1
        background rgba(255,255,255,0.6)
        height 300px

    .food1 .text1 span 
        font-size 14px

    .hooper
        position absolute
        top 180px
        height 220px !important
        display flex
        align-items center


    .hooper-img
        display flex
        align-items center
        justify-content center

    .hooper-img img:hover
        border-radius 40% 60% 60% 40% / 45% 45% 55% 55%
        transform scale(.95)
        transition .5s

    .hooper-img img
        border-radius 60% 40% 45% 55% / 50% 45% 55% 50%
        box-shadow 2px 5px 10px #000000
        overflow hidden
        transition .5s
        position relative
        width 180px
        height 180px

    .hooper:focus
        outline none

    .hooper-prev
        position absolute
        left -30px !important

    .hooper-next
        position absolute
        right -30px !important

    .hooper-next:focus,
    .hooper-prev:focus
        outline none

    .hooper-list
        height 220px !important
        padding-top 20px
        padding-bottom 20px

    .food2 
        height 500px
        width 100%
        position relative

    #input-account, #input-password, #input-repassword, #input-name, #input-email, #input-phone
        width 400px


// -----------------------------------lg-----------------------------------------
@media (min-width: 992px)
    .navbar-nav>.btn>h6
        color white !important
        font-size 19px
        width 100px
        margin 0

    .ad .view
        width 450px

    .ad .view .text
        width 450px

    .ad .view img
        width 450px
        height 350px

    .navbar
        background none

    .new h1
        margin-top 50px
        font-size 50px !important

    .ad .view
        position relative
        overflow hidden
        width 400px
        margin 20px auto 20px auto
        border-radius 20px

    .ad .view .text
        color white
        padding 0
        /* 文字決對定位 */
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        display flex
        justify-content center
        flex-direction column
        width 400px

    .ad .view .text h4
        background linear-gradient(270deg,transparent,rgba(0,0,0,0.5),transparent)!important
        height 40px
        line-height 40px
        font-size 20px

    .ad .view img
        width 400px
        height 400px

    .slider-item
        width 75% !important
        height 400px !important
        margin-top 100px

    .swiper-container-horizontal>.slider-pagination-bullets
        bottom 0px !important

    .swiper-container-horizontal>*>.slider-pagination-bullet
        background white !important

    .slider-container
        height 600px !important

    .menu-box
        display none !important

    #Story 
        height 100vh !important

    #Story footer
        position fixed
        bottom 0
        z-index 2000
    
    .logo_img
        position absolute
        top 50px
        left 450px

    .logo_img img 
        width 750px
    .stamp
        width 300px
        height 100px
        padding 10px
        margin-top 130px
        margin-left auto
        margin-right auto
        margin-bottom 10px
        font-size 2.5rem

    .stamp::before
        content ''
        position absolute
        left 6px
        top 6px
        right 5px
        bottom 5px
        background white
        width 280px
        height 81px
        z-index -2

    .bg
        width 500px
        height 550px
        margin-bottom 70px

    .bg h1
        margin-top 30px
        font-size 24px
    
    iframe 
        width 470px
        height 410px

    .text
        width 100%
        padding 20px 50px 20px 50px
        font-size 1.5rem
        letter-spacing: 3px

    #where .row p
        font-size 24px

    #where h5
        font-size 34px

    #where .row p:last-child
        padding-left 183px

    .banner
        margin-top 130px

    .banner img
        width 100%
        height 400px

    .banner::after
        height 400px

    .banner h3
        position absolute
        top 24%
        left 28%
        font-size 60px

    .banner h6
        position absolute
        top 25%
        left 39%
        font-size 24px

    .box1-1
        width 700px
        height 260px
        background white
        border-radius 20px

    .box1-2
        width 700px
        height auto
        background white
        border-radius 20px
        padding-right 60px

    .box1-2 h3
        padding-left 60px

    .location
        position absolute
        top 12%
        left 40%
        z-index 200
    
    .map
        width 700px
        height auto
        margin-bottom 30px

    .msg
        margin-top 160px
        margin-left -50px
        width 800px
        height 650px
        background #ffffff
        border-radius 20px
        padding-top 50px
        padding-left 25px
        padding-right 10px

    .msg h1
        width 390px
        font-size 70px

    .form-control
        margin 0
        width 450px

    .custom-select
        width 450px

    #flipbook
        width 400px
        height 400px
        margin-bottom 90px
        position absolute
        top 700px
        left 600px

    .flipbook
        margin-top 20px
        height 400px
        margin-left -25px

    .content img
        width 900px


     // -------------------menu----------------------
    .img img
        height 500px

    .img::after
        content ''
        height 500px !important

    .slogan
        position absolute
        top 280px
        left 80px

    .slogan h1
        font-size 50px

    .slogan h2
        font-size 30px

    // ----------------------signature--------------
    #signature
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 900px !important
        width 100%

    #signature .pic
        position absolute
        top 800px
        z-index 500

    #signature .food1 .text1
        width 750px
        height 500px
        position absolute
        top 530px

    // --------------------appeziter------------------
    #appeziter
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 900px !important
        width 100%

    #appeziter .pic
        position absolute
        top 1690px
        z-index 500
    
    #appeziter .food1 .text1
        width 750px
        height 500px
        position absolute
        top 1430px

    // --------------------salad------------------
    #salad
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 900px !important
        width 100%

    #salad .pic
        position absolute
        top 2590px
        z-index 500
    
    #salad .food1 .text1
        width 750px
        height 500px
        position absolute
        top 2330px

    // --------------------pasta------------------
    #pasta
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 900px !important
        width 100%

    #pasta .pic
        position absolute
        top 3490px
        z-index 500
    
    #pasta .food1 .text1
        width 750px
        height 500px
        position absolute
        top 3230px

    // --------------------handcrafted-burgers------------------
    #handcrafted-burgers
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 900px !important
        width 100%

    #handcrafted-burgers .pic
        position absolute
        top 4390px
        z-index 500
    
    #handcrafted-burgers .food1 .text1
        width 750px
        height 500px
        position absolute
        top 4130px

    // --------------------grill------------------
    #grill
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 900px !important
        width 100%

    #grill .pic
        position absolute
        top 5290px
        z-index 500
    
    #grill .food1 .text1
        width 750px
        height 500px
        position absolute
        top 5030px

    // --------------------desserts------------------
    #desserts
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 900px !important
        width 100%

    #desserts .pic
        position absolute
        top 6190px
        z-index 500
    
    #desserts .food1 .text1
        width 750px
        height 500px
        position absolute
        top 5930px

    // --------------------drink------------------
    #drink
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 900px !important
        width 100%

    #drink .pic
        position absolute
        top 7090px
        z-index 500
    
    #drink .food1 .text1
        width 750px
        height 500px
        position absolute
        top 6830px

    .pic img
        border-radius 60% 40% 45% 55% / 50% 45% 55% 50%
        width 300px
        height 300px
        overflow hidden
        transition .5s
        position relative
        box-shadow rgba(255, 255, 255, 1) 5px 5px 0px

    .pic img:hover
        border-radius 40% 60% 60% 40% / 45% 45% 55% 55%
        transform scale(.95)
        transition .5s

    .food1
        background rgba(255,255,255,0.6)
        height 350px

    .food1 .text1 span 
        font-size 18px

    .hooper
        position absolute
        top 230px
        height 220px !important
        display flex
        align-items center


    .hooper-img
        display flex
        align-items center
        justify-content center

    .hooper-img img:hover
        border-radius 40% 60% 60% 40% / 45% 45% 55% 55%
        transform scale(.95)
        transition .5s

    .hooper-img img
        border-radius 60% 40% 45% 55% / 50% 45% 55% 50%
        box-shadow 2px 5px 10px #000000
        overflow hidden
        transition .5s
        position relative
        width 200px
        height 200px

    .hooper:focus
        outline none

    .hooper-prev
        position absolute
        left -50px !important

    .hooper-next
        position absolute
        right -50px !important

    .hooper-next:focus,
    .hooper-prev:focus
        outline none

    .hooper-list
        height 240px !important
        padding-top 20px
        padding-bottom 20px

    .food2 
        height 500px
        width 100%
        position relative

    #menu footer 
        position relative
        bottom 0

    #menu .food1 .text1
        font-size 24px

    #input-account, #input-password, #input-repassword,  #input-name, #input-email, #input-phone
        width 320px
    
    #modal-Sign .row, #modal-Login .row
        flex-direction row !important
// -----------------------------------xl-----------------------------------------
@media (min-width: 1200px)
    #Home
        background-attachment fixed
        height 100vh
    
    .overflow-hidden
        height 100vh
    
    .slider-container
        height 100vh !important

    .slider-item
        transform scale(0.8)
        transition-timing-function ease
        transition-duration 300ms
        width 70% !important
        height 700px !important 
        margin-top 0
        cursor grab
    
    .slider-item:active
        cursor grabbing
    
    .swiper-container-horizontal>.slider-pagination-bullets
        bottom 70px !important

    .swiper-container-horizontal>*>.slider-pagination-bullet:nth-child(3)
        margin-right 30px

    .swiper-container-horizontal>*>.slider-pagination-bullet:nth-child(4)
        margin-left 30px


    .slider-item.slider-active 
        transform scale(1.0)
        z-index  999

    .slider-item.slider-active-copy 
        transform scale(1.0)
        z-index  999

    .carousel
        height 95vh
        position fixed
        z-index 0

    .navbar
        height 70px
        width 100vw
        padding-left 160px
        padding-right 0
        // background none!important
        transition: background .5s

    .navbar-nav>.btn>h6
        color white !important
        font-size 16px
        margin-left 15px
        margin-right 15px
        width 140px

    .navbar-nav>.btn>h6:hover
        color #FFD994 !important

    .logo h2
        color white !important
        font-size 30px !important

    .scroll
        display block
        position absolute
        bottom 6px
        left 50%
        transform translateX(-50%)

    @keyframes btn
        0%
            height 0%
        100%
            height 81px
    @keyframes drop-down
        0%
            height 0%
        100%
            height 300px

    .new
        height 100vh
        flex-direction column
        position relative
        z-index 1000

    .new h1
        margin-top 60px
        margin-bottom 0

    .new .col-12
        height 370px

    .ad .view
        width 350px

    .ad .view .text
        width 350px

    .ad .view .text h4
        background linear-gradient(270deg,transparent,rgba(0,0,0,0.5),transparent)!important
        height 40px
        line-height 40px

    .ad .view img
        transition 0.5s
        width 350px
        height 350px

    .ad .view:hover img
        transform scale(1.2)


    .ad .view:hover .text
        background-color rgba(0,0,0,0.5)

    #Contact footer, #Home footer, #Story footer
        background black
        height 50px
        color white
        position fixed
        bottom 0
        z-index 2000

    #Story
        flex-direction row !important
        
    .stamp
        width 240px
        height 140px
        position: relative
        top 20px
        right 700px

    .stamp::before
        width 220px
        height 120px

    .bg
        clip-path polygon(0 0,100% 0,100% 90%,90% 100%,0 100%)
        width 500px
        height 550px
        margin-bottom 70px
        position absolute
        top 230px
        right 200px

    .bg h1
        margin-top 20px
        font-size 30px

    .abc
        display block
        width 200px
        height 70px
        background red
        position absolute
        top 180px
        right 350px
        opacity 0.5
        transform rotate(-6deg)
        z-index 888

    iframe 
        width 470px
        height 410px

    .text
        width 800px
        font-size 14px
        letter-spacing: 3px
        position absolute
        top 400px
        left 380px

    #where .row p
        font-size 14px

    #where h5
        font-size 26px

    #where .row p:last-child
        padding-left 107px

        footer 
            position relative
            bottom 0

    .box1
        position relative
        left 500px
        top -20px
        margin-top 100px
        margin-bottom 50px
        background 	#FBFBFF
        width 400px
        border-radius 20px
        z-index 2
        box-shadow 0 0 10px #000000

    .box2
        width 1000px
        height 400px
        background #FBFBFF
        border-radius 20px
        position absolute
        top 620px
        left 450px

    .box1-1
        background none
        width 400px
        height 150px
        padding-left 0
        margin-left 20px

    .box1-2
        background none
        width 400px
        height 300px
        padding-right 0

    .traffic
        margin-bottom 20px

    .aaa
        display flex !important

    #where .box1-2 .row
        flex-direction row !important

    .map
        width 500px
        height auto
        margin-bottom 30px
        position absolute
        top 10px
        right 25px


    .banner
        width 70%
        margin-top 90px

    .banner img
        width 100%
        height 400px

    .banner::after
        width 70%
        height 400px

    .banner h3
        position absolute
        top 30%
        left 38%
        font-size 60px

    .banner h6
        position absolute
        top 32%
        left 44%
        font-size 24px

    .location
        position absolute
        top 12%
        left 45%
        z-index 200
    // -------------------------------news-----------------------
    .information
        cursor pointer

    .information:nth-child(even) .carditem1::after
        content ''
        width 250px
        height 250px
        border 2px solid #ffffff
        position absolute
        top 40px
        right 80px

    .information:nth-child(odd) .carditem1::after
        content ''
        width 250px
        height 250px
        border 2px solid #ffffff
        position absolute
        top 40px
        left 80px
    
    #news footer
        position relative

    .carditem1 img:hover
        // transform translateY(-0.5rem)
        transform scale(1.3)
    
    .msg
        margin-top -50px
        margin-left -100px
        width 900px
        height 550px
        background #ffffff
        border-radius 20px
        padding-top 30px
        padding-left 25px
        padding-right 10px

    .msg h1
        width 390px
        font-size 40px

    .form-control
        margin 0
        width 550px

    .custom-select
        width 550px

    #flipbook
        width 400px
        height 400px
        margin-bottom 90px
        position absolute
        top 450px
        left 1100px

    .flipbook
        margin-top 20px
        height 400px
        margin-left -25px

    .flipbook::after
        content 'Flip ME !'
        width 230px
        color red
        position absolute
        top -20px
        left 100px
        font-size 30px
        transform rotate(45deg)
        animation shake 1s infinite

    @keyframes shake 
        0%
            transform:translateY(10px) rotate(3deg)
        
        50%
            transform:translateY(-10px) rotate(-3deg)
        
        
        100%
            transform:translateY(10px) rotate(3deg)
    
    .socail
        position absolute
        top -1000

    .dm .container
        background #D1E9E9
        margin-top 100px
        padding-top 20px  

    .dm footer 
        position relative
        margin-top 20px

    .menu-box
        display flex !important
        background-attachment fixed
        position absolute
        top 60px
        width 100%
        background rgba(0,0,0,0.6)
        z-index 9999
        animation drop-down 0.5s ease forwards

    .menu-box .row
        margin-top 20px
        margin-left 380px
        text-align center

    .menu-box h5
        color #FFD994
        border-bottom 1px solid #FFD994
        padding-bottom 10px
        margin-top 10px

    .menu-box a
        color white

    .menu-box a:hover
        text-decoration none
        color #A2C259
    #menu footer
        position relative
        bottom 0

    .img
        width auto
        height 780px

    .img::after
        content ''
        height 780px !important

    .slogan
        position absolute
        top 450px
        left 150px
        color white
    
    .img img 
        opacity 0.3
        position absolute
        width 600px
        height 600px
        top 120px
        left 50px


    .slogan h1
        font-size 60px

    .slogan h2
        font-size 28px

    .title
        width 100%
        color white
        text-align center

    .title h4
        height 50px
        margin-bottom 0
        line-height 50px

    // ----------------------signature--------------
    #signature
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 850px !important
        width 100%

    #signature .pic
        position absolute
        top 1100px
        z-index 500

    #signature .food1 .text1
        width 800px
        height 500px
        position absolute
        top 830px

    // --------------------appeziter------------------
    #appeziter
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 850px !important
        width 100%

    #appeziter .pic
        position absolute
        top 1930px
        z-index 500
    
    #appeziter .food1 .text1
        width 800px
        height 500px
        position absolute
        top 1680px

    // --------------------salad------------------
    #salad
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 850px !important
        width 100%

    #salad .pic
        position absolute
        top 2780px
        z-index 500
    
    #salad .food1 .text1
        width 800px
        height 500px
        position absolute
        top 2530px

    // --------------------pasta------------------
    #pasta
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 850px !important
        width 100%

    #pasta .pic
        position absolute
        top 3630px
        z-index 500
    
    #pasta .food1 .text1
        width 800px
        height 500px
        position absolute
        top 3380px

    // --------------------handcrafted-burgers------------------
    #handcrafted-burgers
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 850px !important
        width 100%

    #handcrafted-burgers .pic
        position absolute
        top 4480px
        z-index 500
    
    #handcrafted-burgers .food1 .text1
        width 800px
        height 500px
        position absolute
        top 4230px

    // --------------------grill------------------
    #grill
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 850px !important
        width 100%

    #grill .pic
        position absolute
        top 5330px
        z-index 500
    
    #grill .food1 .text1
        width 800px
        height 500px
        position absolute
        top 5080px

    // --------------------desserts------------------
    #desserts
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 850px !important
        width 100%

    #desserts .pic
        position absolute
        top 6180px
        z-index 500
    
    #desserts .food1 .text1
        width 800px
        height 500px
        position absolute
        top 5930px

    // --------------------drink------------------
    #drink
        background url(../../public/img/food.jpeg) no-repeat fixed center/cover
        height 850px !important
        width 100%

    #drink .pic
        position absolute
        top 7030px
        z-index 500
    
    #drink .food1 .text1
        width 800px
        height 500px
        position absolute
        top 6780px

    .pic img
        border-radius 60% 40% 45% 55% / 50% 45% 55% 50%
        width 300px
        height 300px
        overflow hidden
        transition .5s
        position relative
        box-shadow rgba(255, 255, 255, 1) 5px 5px 0px
        cursor pointer

    .pic img:hover
        border-radius 40% 60% 60% 40% / 45% 45% 55% 55%
        transform scale(.95)
        transition .5s

    .pic
        width 350px
        height 350px
        position absolute
        top 1000px
        z-index 500

    .food1
        background rgba(255,255,255,0.8)
        height 600px

    .food1 .text1
        width 900px
        height 500px
        position absolute
        top 800px

    .food1 .text1 span 
        font-size 14px

    .hooper
        position absolute
        top 210px
        height 240px !important
        display flex
        align-items center


    .hooper-img
        display flex
        align-items center
        justify-content center
        border-radius 50%

    .hooper-img img:hover
        border-radius 40% 60% 60% 40% / 45% 45% 55% 55%
        transform scale(.95)
        transition .5s

    .hooper-img img
        border-radius 60% 40% 45% 55% / 50% 45% 55% 50%
        box-shadow 2px 5px 10px #000000
        overflow hidden
        transition .5s
        position relative
        cursor pointer

    .hooper:focus
        outline none

    .hooper-prev
        position absolute
        left -50px !important

    .hooper-next
        position absolute
        right -50px !important

    .hooper-next:focus,
    .hooper-prev:focus
        outline none

    .hooper-list
        height 240px !important
        padding-top 20px
        padding-bottom 20px

    .food2 
        height 800px
        width 100%
        position relative

    // #input-account, #input-password, #input-repassword
    //     width 400px

    .vs-dialog
        padding 10px

    .member_card
        margin-top 150px
        width 550px !important
        height 350px !important
        padding 50px 60px 50px 60px
        box-shadow 0 0 8px #ffffff
        position relative

    .member_img
        width 200px
        height 150px
        overflow hidden
        display flex
        justify-content center
        align-items center
        border-radius 5px

    .member_in
        height 150px
        padding-left 50px
        padding-top 25px
    .member_card_logo
        opacity 0.12
        width 300px
        height 300px
        position absolute
        top 0px
        left 240px
        transform rotate(15deg)
        z-index 0

    .box5
        height 800px !important

    .vs-component
        padding 20px

    .member_management
        margin-left 460px
    .popup1
        width 100% !important

    .vs-popup--content
        margin 0 !important
